.jumbotron{
		            background-color:rgb(33, 181, 224);
					color:white;
					height:450px;
					font-family:times new roman;
					font-size:30px;
					margin-top:45px;
					border:2px solid yellow;
					}
          .navbar{
		            background-color:rgb(240, 240, 240);;
					position:sticky;
					}
           
			
			.navbar-toggle{
			        background-color:black;
					}
					
			.navbar-nav li:a hover{
			        color:#1abc96 !important;
					}
					
			img{
			        float:left;
                    height:250px;
					width:250px;
					}
					
			h2{
			        margin-top:60px;
					margin-left:67px;
					font-size:50px;
					float:right;
					}
			 .bg-2 { 
                    background-color: #474e5d; /* Dark Blue */
                    color: #ffffff;
					height:200px;
					}
			
			.col1{
			        background-color:rgb(240, 240, 240);
					color:black;
					overflow:hidden;
					}
			.col2{
			        background-color:rgb(240, 240, 240);
					color:black;
					overflow:hidden;
					}
            .col3{
                    background-color:rgb(240, 240, 240);
					color:black;
					overflow:hidden;
					}	
            
            .footer{
			        background-color:rgb(33, 181, 224);
					height:60px;
					color:white;
					}
			.btn-group{
                    position:relative;
                    margin-top:60px;
					margin-left:170px;
					}
            					